// colors
$primary: #3a4430;
$lightPrimary: #48543b;

$secondary: #e0d0a8;
$lightSecondary: #f9eeda;
$mediumSecondary: #c1c1aa;
$lightDarkSecondary: #878c69;
$darkSecondary: #615a49;

$background: #edecdf;
$black: #000000;

// font
$headerFont: 'Inter', sans-serif;
$textFont: 'Inria Serif', serif;
